<h3>New Application</h3>
<p><%= @error_message %></p>
<%= form_with url: "/applications", method: :post, local: true do |form| %>
  <%= form.label "Your Name" %>
  <%= form.text_field :applicant_name %>

  <%= form.label "Street Address" %>
  <%= form.text_field :street_address %>

  <%= form.label "City" %>
  <%= form.text_field :city %>

  <%= form.label "State" %>
  <%= form.text_field :state %>

  <%= form.label "Zip Code" %>
  <%= form.text_field :zip_code %>

  <%= form.submit 'Submit Application' %>
<% end %>
