<h3>Applicant: <%= @application.applicant %></h3>
<p>Applicant Address: <%= @application.applicant_address %></p>
<p>Description: <%= @application.description %></p>
<p>Pet Names: <% @application.pets.each do |pet| %>
  <%= pet.name %> &
  <% end %>
</p>
<p>Status: <%= @application.status %></p>

<% if @application.status == 'In Progress' %>

  <%= form_with method: :get, local: true do |form| %>
    <h4><%= form.label "Add a pet to this application:" %></h4>
    <%= form.text_field :search_text %>

    <%= form.submit 'Find Pet' %>
  <% end %>

  <% @searched_pets.each do |pet| %>
    <p> • <%= pet.name %><%= button_to 'Adopt This Pet', "/applications/#{@application.id}?pet_id=#{pet.id}", method: :patch %></p>
  <% end %>

<% end %>


<% if @application.pets != [] %>
  <%= form_with method: :patch, local: true do |form| %>
    <h4><%= form.label "Why would you be a good owner?:" %></h4>
    <%= form.text_area :owner_description %>

    <%= form.submit 'Submit Application' %>
  <% end %>
<% end %>
