<h3>Applicant: <%= @application.applicant %></h3>
<p>Applicant Address: <%= @application.applicant_address %></p>
<p>Description: <%= @application.description %></p>
<p>Pet Names: <% @application.pets.each do |pet| %>
  <%= pet.name %> &
  <% end %>
</p>
<p>Status: <%= @application.status %></p>

<%= form_with method: :get, local: true do |form| %>
  <h4><%= form.label "Add a pet to this application:" %></h4>
  <%= form.text_field :search_text %>

  <%= form.submit 'Find Pet' %>
<% end %>

<% @pets.each do |pet| %>
  <p>• <%= pet.name %></p>
<% end %>
